*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Emilys Candy, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#ff7e5f,#feb47b);
    background-position: center;
    backdrop-filter: blur(2px);
}
.container{
    width: 420px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.425);
<<<<<<< HEAD
    backdrop-filter: blur(20px);
=======
    backdrop-filter: blur(50px);
>>>>>>> 697b65972e264d5d8b614149f3725e017e945eb8
    color: rgb(232, 97, 48);
    border-radius: 20px;
    padding: 30px 40px;
}
.container h1{
    font-size: 40px;
    text-align: center;
}
.container .inputbox{
    position: relative;
    height: 30px;
    width: 100%;
    margin: 30px 40px;
}
.inputbox input{
    height: 50px;
    width: 75%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.479);
    padding: 20px 20px 20px 20px;
    transition: 0.5s;
}
.inputbox input:hover{
    box-shadow: 0 0 100px rgba(216, 68, 0, 0.705);
    
}
.inputbox input::placeholder{
    color: rgba(255, 255, 255, 0.705);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container a{
    display: flex;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
}
.container a:hover{
    text-decoration: underline;
    color: rgb(232, 97, 48);
}
.container .login{
    height: 50px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: Emilys Candy, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100px;
    background-color: rgb(232, 97, 48);
    cursor: pointer;
    box-shadow: 0 0 100px rgb(128, 122, 122);
    transition: 0.3s;
}
.container .login:hover{
    background-color: rgba(66, 243, 22, 0.842);
    box-shadow: 0 10px 50px rgb(135, 175, 88);
    scale: 1.04;
}